@media only screen and (max-width: 20000px) and (min-width: 2945px) {
    .banner {
        background-size: cover;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 1024px) {
    .bannercardsdiv {
        margin-left: 5px;
        margin-right:5px;
    }

    
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .navbar {
        position: relative;
        background-color: white!important;
    }

    .navbar-toggler {
        height: 50px;
        width: 50px;
        margin: auto;
    }
    
    .banner {
        flex-direction: column;
        justify-content: space-between;
        background-size: cover;
    }

    .bannercards {
    width: 100%;
    justify-content: center;
    }

    .bannercardsdiv {
      width: 100%;
      margin-bottom: 25px;
      margin-top: 10px;
    }

    .pinkdiv {
        width: 7%;
    }
    
    .ulright {
        width: 70%;
        flex-direction: row;
        justify-content: space-between; 
        margin: auto!important; 
    }

    

    .nav-L-item-left {
        margin-top: 15px;
        color: black!important;
        font-size: 21px;
    }
    .navhome {
        color: rgb(230, 190, 190)!important;
    }
    .navbar-nav {
        margin-top: 30px!important;
    }

    .ulright i {
        font-size: 26px;
        margin-right: 20px;
        }


    .banner h1 {
        margin-top: 10px;
        font-size: 36px;
        top: 80px;
        z-index: 20000;
    }

    .bannerp {
        margin-top: 16px;
        top: 130px;
        z-index: 20000;
    }

    .bannerp p {
        
        font-size: 15px;
    }

    .second img {
        object-position: 5% 95%;
    }
    
    .navbar {
        min-height: 130px;
    }

    .navbar-toggler {
        border: none; 
        margin-bottom: 60px;   
    }

    .cardsecond {
        width: 100%;
    }

    .card-bodyfirst {
        width: 400px;
        height: 70px;
        bottom: -40px;
        margin-bottom:20px;
    }

    .card-title {
        font-size: 36px;
        font-family: 'Libre Baskerville', serif;
    }

    .postsbtn {
        width: 200px;
        height: 40px;
        font-size: 14px;
        border: solid 1px rgb(83, 106, 60);
        font-family: 'Libre Baskerville', serif;
    }

    .fuldiv {
        margin-bottom: 20px;
    }

}

@media screen and (max-width:767px){
    
    .navbar {
        position: relative;
        background-color: white!important;
        z-index: 1!important;
    }

    .navbar-toggler {
        margin: auto;
    }
    
    .banner {
    flex-direction: column;
    justify-content: space-around;
     background-size: cover;
    }

    .bannercards {
    width: 100%;
    justify-content: center;}

    .bannercardsdiv {
      margin-bottom: 25px;
      margin-top: 10px;
    }

    .pinkdiv {
        width: 7%;
    }
    
    .ulright {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-L-item-left {
        margin-top: 15px;
        color: black!important;
    }
    .navhome {
        color: rgb(230, 190, 190)!important;
    }
    .navbar-nav {
        margin-top: 30px!important;
    }


    .banner h1 {
        top: 100px;
        font-size: 21px;
    }

    .bannerp {
        top: 130px;
    }
    
    .navbar {
        min-height: 130px;
    }

    .navbar-toggler {
        border: none; 
        margin-bottom: 60px;   
    }

    .cardsecond {
        width: 100%;
    }

    .about h1 {
        font-size: 20px;
        margin-top: 2px;
        margin-bottom: 30px;
        color: rgb(83, 106, 60);
    }
    
    .about p {
        font-size: 14px;
    }

    .fbottomdiv h6 {
        margin: 30px 0 10px 0;
        text-align: center;
    }

    .footerform {
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: space-between;
    }
    .fuldiv {
        margin-bottom: 20px;
    }

    .footermail {
        width: 70%;
        margin: 10px auto;
    }

    .footerbtn {
        width: 70%;
        margin: 10px auto;
    }

}


/* 
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 767px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 767px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

