
.navbar {
    width: 98%;
    background-color: transparent!important;
    margin: 20px auto;
}

.collapse {
    
    justify-content: space-between;
}

.navbar-nav {
    margin: 0px!important;
}

.nav-L-item-left {
    color: rgb(230, 190, 190)!important;
    font-size: 11px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 10px;
}

.ulright {
    margin-right: 10px!important;
    
}

.nav-active-link {
    color: rgb(208, 220, 198)!important;
    font-size: 11px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 10px;
    transition: 500ms;
}



.ulright i {
color: rgb(152, 152, 152);
font-size: 16px;
margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
}

.banner {
    min-height: 788.99px;
    width: 100%;
    background-image: url("https://static.wixstatic.com/media/913019_e598d73211d44dd8bcc85eae0245bec4~mv2_d_4000_6000_s_4_2.jpg/v1/fill/w_2826,h_789,al_c,q_90,usm_0.66_1.00_0.01/913019_e598d73211d44dd8bcc85eae0245bec4~mv2_d_4000_6000_s_4_2.webp");
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner h1 {
    position: absolute;
    color: rgb(230, 190, 190);
    top: 30px;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    font-size: 31px;
    font-family: 'Libre Baskerville', serif;
    z-index: 2000;
}

.banner p {
    position: absolute;
    color: rgb(230, 190, 190);
    left: 0;
    right: 0;
    margin: 0px;
    font-size: 11px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
    font-weight: 700;
    z-index: 2000;
}

.bannerp {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2000;
}

.pinkdiv {
    height: 0.5px;
    width: 14%;
    background-color: rgb(230, 190, 190);
    
}

.bannercards {
display: flex;
width: 33.333333%;
align-items: center;
}

.cardsArea {
    min-height: 940px;
    max-width: 940px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bannercardsdiv {
    min-height: 470px;
    min-width: 332px;
}

.bannercardsdiv img {
    height: 470px;
    min-width: 332px;
    object-fit: cover;
}

.first {
    justify-content: flex-end;
}

.second {
    justify-content: center;
}

.third {
    justify-content: flex-start;
}

.card {
    border: none;
}

.card-bodyfirst {
    width: 152px;
    height: 43px;
    background-color: rgb(230, 190, 190);
    position: absolute;
    bottom: -20px;
    left:0px;
    right: 0px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 500ms;
}

.card-title {
    margin:0px;
    font-size: 14.5px;
    font-family: 'Roboto', sans-serif;
    color: rgb(83, 106, 60);
    letter-spacing: 3px;
    transition: 500ms;
}


.card-bodyfirst:hover {
    
    background-color: rgb(83, 106, 60);
}

.card-bodyfirst:hover .card-title{
    color: rgb(230, 190, 190);  
}

.card-title:hover {
    text-decoration: none;
}

/* აქედან იწყება ქარდების სექცია  */

.cardsecond {
    margin-top: 20px;
    min-height: 456px;
    width: 456px;
    background-size: cover;
}
.cardcover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.322);
}

.secondcardtext2 {
    color: #3f3f3f;
}

.secondcardtext2:hover {
    text-decoration: none!important;
}

.secondcardtext2 h1 {
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    font-size: 26px;
    letter-spacing: 1px;
    color: rgb(237, 237, 236);
    
}

.cardsecond:hover .secondcardtext2 h1 {
    color: rgb(230, 190, 190)!important;
}


.comments {
    padding-top: 10px;
    border-top: 1px solid rgb(237, 237, 236);
    color: rgb(237, 237, 236);
    font-size: 12px;
    word-spacing: 2px;
}

.fa-comment-alt {
margin-left: 6px;
}

.heart {
    float: right;
}

.fa-heart {
    color: rgb(201, 4, 4);
}


.Prof {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Prof span {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(237, 237, 236);
    letter-spacing: 0.3px;
}

.cbody2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 27px 30px;
}




/* ქარდები ინდივიდუალურად */

.cardsecond1 {
    background-image: url("https://static.wixstatic.com/media/84770f_2a290489accc49e28bc29bb1af525d18~mv2_d_4928_3280_s_4_2.jpg/v1/fill/w_999,h_665,al_c,q_90,usm_0.66_1.00_0.01/84770f_2a290489accc49e28bc29bb1af525d18~mv2_d_4928_3280_s_4_2.webp");
    background-position: center;
} 

.cardsecond2 {
    background-image: url("https://static.wixstatic.com/media/84770f_d2deb122a71a48e2aca03068ce98d4a7~mv2_d_3744_5616_s_4_2.jpg/v1/fill/w_1110,h_1665,al_c,q_90,usm_0.66_1.00_0.01/84770f_d2deb122a71a48e2aca03068ce98d4a7~mv2_d_3744_5616_s_4_2.webp");
    background-position: center;
}

.cardsecond3 {
    background-image: url("https://static.wixstatic.com/media/84770f_669af802d49b49ea9b5b7f9a6a653838~mv2_d_3744_5616_s_4_2.jpg/v1/fill/w_1110,h_1665,al_c,q_90,usm_0.66_1.00_0.01/84770f_669af802d49b49ea9b5b7f9a6a653838~mv2_d_3744_5616_s_4_2.webp");
    background-position: center;
}

.cardsecond4 {
    background-image: url("https://static.wixstatic.com/media/84770f_b4a7042d653a470897e9fb8f76878da0~mv2_d_3280_4928_s_4_2.jpg/v1/fill/w_1110,h_1668,al_c,q_90,usm_0.66_1.00_0.01/84770f_b4a7042d653a470897e9fb8f76878da0~mv2_d_3280_4928_s_4_2.webp");
    background-position: center;
}


/* მესამე სექცია */

.allposts {
    display: flex;
    max-height: 240px;
    min-height: 100px;
}

.postsbtn {
    width: 152px;
    height: 43px;
    background-color: rgb(230, 190, 190);
    margin:auto;
    border: none;
    font-size: 14.5px;
    font-family: 'Roboto', sans-serif;
    color: rgb(83, 106, 60);
    letter-spacing: 1px;
    border-radius: 1px;
    font-weight: 500;
    transition: 500ms;
}

.postsbtn:hover {
    color: rgb(230, 190, 190);  
    background-color: rgb(83, 106, 60);
}


/* მეოთხე სექცია ABOUT ME */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 410px;
    background-color: rgb(230, 190, 190);
}

.about h1, p {
    text-align:center;
    max-width: 510px;
    
}

.about h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    font-weight: 400;
    margin: 20px auto;
    margin-bottom: 30px;
    color: rgb(83, 106, 60);
}

.about p {
    margin: 40px auto;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(83, 106, 60);
    box-sizing: border-box;
    padding: 5px;
}

.line {
    min-width: 50px;
    min-height: 2px;
    background-color: rgb(83, 106, 60);
    margin: 0 auto;
    
}

.readmorebtn {
    width: 152px;
    height: 43px;
    background-color: rgb(83, 106, 60);
    margin:0 auto;
    border: none;
    font-size: 14.5px;
    font-family: 'Roboto', sans-serif;
    color: rgb(230, 190, 190);
    letter-spacing: 1px;
    border-radius: 1px;
    font-weight: 500;
    transition: 500ms;
}

.readmorebtn:hover {
    color: rgb(83, 106, 60);  
    background-color: rgb(206, 152, 152);
}