.navbar {
    width: 98%;
    background-color: transparent!important;
    margin: 20px auto;
    z-index: 10000!important;
}

.collapse {
    justify-content: space-between;
}


.navbar-nav {
    margin: 0px!important;
}

.nav-L-item-left {
    color: rgb(207, 152, 152)!important;
    font-size: 11px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 10px;
    transition: 500ms;
}

.ulright {
    margin-right: 10px!important;
}

.navBlog {
    color: rgb(172, 204, 146)!important;
    font-size: 11px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 10px;
    transition: 500ms;
}

.nav-L-item-left:hover {
    color: rgb(120, 173, 77)!important;
}

.ulright i {
color: rgb(152, 152, 152);
font-size: 16px;
margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
}

.banner {
    min-height: 375px;
    width: 100%;
    background-image: url("https://static.wixstatic.com/media/913019_e598d73211d44dd8bcc85eae0245bec4~mv2_d_4000_6000_s_4_2.jpg/v1/fill/w_2826,h_789,al_c,q_90,usm_0.66_1.00_0.01/913019_e598d73211d44dd8bcc85eae0245bec4~mv2_d_4000_6000_s_4_2.webp");
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner h1 {
    position: absolute;
    color: rgb(230, 190, 190);
    top: 30px;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    font-size: 31px;
    font-family: 'Libre Baskerville', serif;
    z-index: 2000;
}

.banner p {
    position: absolute;
    color: rgb(230, 190, 190);
    left: 0;
    right: 0;
    margin: 0px;
    font-size: 11px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
    font-weight: 700;
    z-index: 2000;
}

.bannerp {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2000;
}

.pinkdiv {
    height: 0.5px;
    width: 14%;
    background-color: rgb(230, 190, 190);
    
}