.navbar {
    width: 98%;
    background-color: transparent!important;
    margin: 20px auto;
    z-index: 10000!important;
}

.collapse {
    justify-content: space-between;
}


.navbar-nav {
    margin: 0px!important;
}

.nav-L-item-left {
    color: rgb(207, 152, 152)!important;
    font-size: 11px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 10px;
    transition: 500ms;
}

.ulright {
    margin-right: 10px!important;
}

.navContact{
    color: rgb(172, 204, 146)!important;
    font-size: 11px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 10px;
    transition: 500ms;
}

.nav-L-item-left:hover {
    color: rgb(120, 173, 77)!important;
}

.ulright i {
color: rgb(152, 152, 152);
font-size: 16px;
margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
}

.banner {
    min-height: 375px;
    width: 100%;
    background-image: url("https://static.wixstatic.com/media/913019_e598d73211d44dd8bcc85eae0245bec4~mv2_d_4000_6000_s_4_2.jpg/v1/fill/w_2826,h_789,al_c,q_90,usm_0.66_1.00_0.01/913019_e598d73211d44dd8bcc85eae0245bec4~mv2_d_4000_6000_s_4_2.webp");
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner h1 {
    position: absolute;
    color: rgb(230, 190, 190);
    top: 30px;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    font-size: 31px;
    font-family: 'Libre Baskerville', serif;
    z-index: 2000;
}

.banner p {
    position: absolute;
    color: rgb(230, 190, 190);
    left: 0;
    right: 0;
    margin: 0px;
    font-size: 11px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
    font-weight: 700;
    z-index: 2000;
}

.bannerp {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2000;
}

.pinkdiv {
    height: 0.5px;
    width: 14%;
    background-color: rgb(230, 190, 190);   
}



/* cardsArea */

.cardsArea {
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.bodyTwo h6 {
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 24px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 1px;
    font-weight: 700;
    transition: 300ms;
    color: rgb(43, 92, 3);
}

.card-body p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: rgb(43, 92, 3);
}


.card {
    max-width: 940px;
    min-height: 340px;
    flex-direction: row;
    border-radius: 1px;
    border: none;
}

.card img {
max-height: 100%;
min-width: 50%;
object-fit: cover;
background-color: rgb(6, 38, 39);
transition: 300ms;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 50%;
    align-items: center;
    text-align: center;
    background-color: rgb(230, 190, 190);
    padding: 60px 60px;
}


.col {
    padding: 0px;
}

.greenline {
    height: 1.4px;
    width: 16%;
    background-color: rgb(43, 92, 3);
    margin-bottom: 10px;
}

.namePhone {
    display: flex;
}

.namePhone p {
    margin-bottom: 0px;
} 

.cardform {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.cardform input {
    background-color: rgb(230, 190, 190)!important;
    border: none;
    border-bottom: 1px solid rgb(43, 92, 3);
    border-radius: 1px;
    color: rgb(43, 92, 3)!important;
}

.phone {
    margin-left: 5px;
}

.cardform label {
    color: rgb(43, 92, 3)!important;
    margin-bottom: 0px;
    margin-top: 15px;
}

.coomentsArea {
    background-color: rgb(230, 190, 190)!important;
    border: none;
    border-bottom: 1px solid rgb(43, 92, 3);
    border-radius: 1px;
    color: rgb(43, 92, 3)!important;
    padding: 0px;
}

.coomentsArea::placeholder {
    color: rgb(43, 92, 3)!important;
}

.submitbtn {
    width: 100%;
    border-radius: 1px!important;
    background-color: transparent;
    border: none;
    color: rgb(43, 92, 3);
    transition: 500ms;
}

.submitbtn:hover {
    background-color: rgb(83, 106, 60);
    color: rgb(230, 190, 190);
}

::-webkit-inner-spin-button {
    display: none;
}

.cardform,.coomentsArea {
    font-size: 14px;
}

/* footer */

footer {
    min-height: 310px;
}

.fbottomdiv {
    display: flex;
    flex-direction:column; 
    justify-content: space-around;
    min-height: 270px;
    max-width: 475px;
    margin: auto;
}

.fbottomdiv h6 {
    margin:80px auto;
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: left;
    max-width: 450px;
    font-family: 'Libre Baskerville', serif;
    font-size: 11px;
    font-weight: 400;
    color: rgb(83, 106, 60);
}

.fbottomdiv p {
    text-align: center;
    color: rgb(83, 106, 60);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footerform {
    display: flex;
    max-width: 470px;
    height: 50px;
    margin: auto;
}

.footerul {
margin-right: 10px!important;
}

.footerul i {
color: rgb(152, 152, 152);
font-size: 14px;
margin-right: 10px;
}

.footerul {
    display: flex;
    flex-direction: row!important;
    justify-content: space-around;
}

.fuldiv {
    width: 200px;
    height: 50px;
    margin: auto;
}

.footerbtn {
    height: 34px;
    width: 106px;
    background-color: rgb(83, 106, 60);
    border: none;
    margin-top: 4px;
    font-size: 14.5px;
    font-family: 'Roboto', sans-serif;
    color: rgb(230, 190, 190);
    letter-spacing: 1px;
    border-radius: 1px;
    font-weight: 500;
    transition: 500ms;
}

.footerbtn:hover {
    color: rgb(83, 106, 60);  
    background-color: rgb(206, 152, 152);
}

.footermail {
    max-width: 343px;
    padding:3px 3px 3px 21px;
    border: none;
    border-bottom: solid 1px rgb(83, 106, 60);
    box-sizing: border-box;
    border-radius: 1px;
}

.footerform ::placeholder {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(83, 106, 60);  
}

.footerform {
    justify-content: space-between;
}


/* input focus and textarea focus */

input:focus, textarea:focus
{
border: none!important;
border-bottom: solid 1px rgb(83, 106, 60)!important;
box-shadow: none!important;
}

/* the end */

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
.card-body h6 {
    animation: 1s ease-out 0s 1 slideInFromTop!important;
}



@keyframes fadIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(100%);
    }
  }

.submitbtn,.cardform,.coomentsArea,.inputp,.greenline {
    animation: 800ms ease-out 0s 1 fadIn!important;
}


@keyframes opacity {
    0% {
      opacity: 0
    }
    100% {
      opacity: 100%;
    }
  }


body {
    
        animation: 700ms ease-out 0s 1 opacity!important;
}


