body {
    margin: 0px;
    padding: 0px;
}
.navbar {
    width: 98%;
    background-color: transparent!important;
    margin: 20px auto;
    z-index: 10000!important;
}

.collapse {
    justify-content: space-between;
}


.navbar-nav {
    margin: 0px!important;
}

.nav-L-item-left {
    color: rgb(207, 152, 152)!important;
    font-size: 11px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 10px;
    transition: 500ms;
}

.ulright {
    margin-right: 10px!important;
}

.navhome {
    color: rgb(172, 204, 146)!important;
    font-size: 11px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 10px;
    transition: 500ms;
}

.nav-L-item-left:hover {
    color: rgb(120, 173, 77)!important;
}

.ulright i {
color: rgb(152, 152, 152);
font-size: 16px;
margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
}

.banner {
    min-height: 788.99px;
    width: 100%;
    background-image: url("https://static.wixstatic.com/media/913019_e598d73211d44dd8bcc85eae0245bec4~mv2_d_4000_6000_s_4_2.jpg/v1/fill/w_2826,h_789,al_c,q_90,usm_0.66_1.00_0.01/913019_e598d73211d44dd8bcc85eae0245bec4~mv2_d_4000_6000_s_4_2.webp");
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner h1 {
    position: absolute;
    color: rgb(230, 190, 190);
    top: 30px;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    font-size: 31px;
    font-family: 'Libre Baskerville', serif;
    z-index: 2000;
}

.banner p {
    position: absolute;
    color: rgb(230, 190, 190);
    left: 0;
    right: 0;
    margin: 0px;
    font-size: 11px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
    font-weight: 700;
    z-index: 2000;
}

.bannerp {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2000;
}

.pinkdiv {
    height: 0.5px;
    width: 14%;
    background-color: rgb(230, 190, 190);
    
}

.bannercards {
display: flex;
width: 33.333333%;
align-items: center;
}

.cardsArea {
    min-height: 940px;
    max-width: 940px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bannercardsdiv {
    min-height: 470px;
    min-width: 332px;
}

.bannercardsdiv img {
    height: 470px;
    min-width: 332px;
    object-fit: cover;
}

.first {
    justify-content: flex-end;
}

.second {
    justify-content: center;
}

.third {
    justify-content: flex-start;
}

.card {
    border: none;
}

.card-bodyfirst {
    width: 152px;
    height: 43px;
    background-color: rgb(230, 190, 190);
    position: absolute;
    bottom: -20px;
    left:0px;
    right: 0px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 500ms;
}

.card-title {
    margin:0px;
    font-size: 14.5px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(83, 106, 60);
    letter-spacing: 3px;
    transition: 500ms;
}


.card-bodyfirst:hover {
    
    background-color: rgb(83, 106, 60);
}

.card-bodyfirst:hover .card-title{
    color: rgb(230, 190, 190);  
}

.card-title:hover {
    text-decoration: none;
}

/* აქედან იწყება ქარდების სექცია  */

.cardsecond {
    margin-top: 20px;
    min-height: 456px;
    width: 456px;
    background-size: cover;
}
.cardcover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.322);
}

.secondcardtext2 {
    color: #3f3f3f;
}

.secondcardtext2:hover {
    text-decoration: none!important;
}

.secondcardtext2 h1 {
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    font-size: 26px;
    letter-spacing: 1px;
    color: rgb(237, 237, 236);
    
}

.cardsecond:hover .secondcardtext2 h1 {
    color: rgb(230, 190, 190)!important;
}


.comments {
    padding-top: 10px;
    border-top: 1px solid rgb(237, 237, 236);
    color: rgb(237, 237, 236);
    font-size: 12px;
    word-spacing: 2px;
}

.fa-comment-alt {
margin-left: 6px;
}

.heart {
    float: right;
}

.fa-heart {
    color: rgb(201, 4, 4);
}


.Prof {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Prof span {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(237, 237, 236);
    letter-spacing: 0.3px;
}

.cbody2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 27px 30px;
}


/* ქარდები ინდივიდუალურად */

.cardsecond1 {
    background-image: url("https://static.wixstatic.com/media/84770f_2a290489accc49e28bc29bb1af525d18~mv2_d_4928_3280_s_4_2.jpg/v1/fill/w_999,h_665,al_c,q_90,usm_0.66_1.00_0.01/84770f_2a290489accc49e28bc29bb1af525d18~mv2_d_4928_3280_s_4_2.webp");
    background-position: center;
} 

.cardsecond2 {
    background-image: url("https://static.wixstatic.com/media/84770f_d2deb122a71a48e2aca03068ce98d4a7~mv2_d_3744_5616_s_4_2.jpg/v1/fill/w_1110,h_1665,al_c,q_90,usm_0.66_1.00_0.01/84770f_d2deb122a71a48e2aca03068ce98d4a7~mv2_d_3744_5616_s_4_2.webp");
    background-position: center;
}

.cardsecond3 {
    background-image: url("https://static.wixstatic.com/media/84770f_669af802d49b49ea9b5b7f9a6a653838~mv2_d_3744_5616_s_4_2.jpg/v1/fill/w_1110,h_1665,al_c,q_90,usm_0.66_1.00_0.01/84770f_669af802d49b49ea9b5b7f9a6a653838~mv2_d_3744_5616_s_4_2.webp");
    background-position: center;
}

.cardsecond4 {
    background-image: url("https://static.wixstatic.com/media/84770f_b4a7042d653a470897e9fb8f76878da0~mv2_d_3280_4928_s_4_2.jpg/v1/fill/w_1110,h_1668,al_c,q_90,usm_0.66_1.00_0.01/84770f_b4a7042d653a470897e9fb8f76878da0~mv2_d_3280_4928_s_4_2.webp");
    background-position: center;
}


/* მესამე სექცია */

.allposts {
    display: flex;
    max-height: 240px;
    min-height: 100px;
}

.postsbtn {
    width: 152px;
    height: 43px;
    background-color: rgb(230, 190, 190);
    margin:auto;
    border: none;
    font-size: 14.5px;
    font-family: 'Roboto', sans-serif;
    color: rgb(83, 106, 60);
    letter-spacing: 1px;
    border-radius: 1px;
    font-weight: 500;
    transition: 500ms;
}

.postsbtn:hover {
    color: rgb(230, 190, 190);  
    background-color: rgb(83, 106, 60);
}


/* მეოთხე სექცია ABOUT ME */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 410px;
    background-color: rgb(230, 190, 190);
}

.about h1 {
    text-align:center;
    max-width: 510px; 
}

.about p {
    text-align:center;
    max-width: 510px; 
}

.about h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    font-weight: 400;
    margin: 20px auto;
    margin-bottom: 30px;
    color: rgb(83, 106, 60);
}

.about p {
    margin: 40px auto;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(83, 106, 60);
    box-sizing: border-box;
    padding: 5px;
}

.line {
    min-width: 50px;
    min-height: 2px;
    background-color: rgb(83, 106, 60);
    margin: 0 auto;
    
}

.readmorebtn {
    width: 152px;
    height: 43px;
    background-color: rgb(83, 106, 60);
    margin:0 auto;
    border: none;
    font-size: 14.5px;
    font-family: 'Roboto', sans-serif;
    color: rgb(230, 190, 190);
    letter-spacing: 1px;
    border-radius: 1px;
    font-weight: 500;
    transition: 500ms;
}

.readmorebtn:hover {
    color: rgb(83, 106, 60);  
    background-color: rgb(206, 152, 152);
}



/* კარუსელი მრავალი სურათით */

.carusel {
    max-height: 636px!important;
}

.container-fluid {
padding: 0px;
}

.carousel-item img {
    
height: 100%;
width: 100%;
object-fit: cover;
}

.carousel-item {
    padding: 0px;
}

.d-md-block {
    
    width: 100%;
    height: 100%;
    left:0%!important;
    bottom: 0px!important;
    display: flex!important;
    justify-content: center;
    align-items: center!important;
    transition: 500ms;

}

.d-md-block p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: transparent;
    transition: 500ms;
}


.d-md-block:hover {
    background-color: rgba(0, 0, 0, 0.322);
}

.d-md-block:hover p{
    color: white;
}


.carousel-control-prev, .carousel-control-next {
    z-index: 10;
}

/* footer */

footer {
    min-height: 310px;
}

.fbottomdiv {
    display: flex;
    flex-direction:column; 
    justify-content: space-around;
    min-height: 270px;
    max-width: 475px;
    margin: auto;
}

.fbottomdiv h6 {
    margin:80px auto;
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: left;
    max-width: 450px;
    font-family: 'Libre Baskerville', serif;
    font-size: 11px;
    font-weight: 400;
    color: rgb(83, 106, 60);
}

.fbottomdiv p {
    text-align: center;
    color: rgb(83, 106, 60);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footerform {
    display: flex;
    max-width: 470px;
    height: 50px;
    margin: auto;
}

.footerul {
margin-right: 10px!important;
}

.footerul i {
color: rgb(152, 152, 152);
font-size: 14px;
margin-right: 10px;
}

.footerul {
    display: flex;
    flex-direction: row!important;
    justify-content: space-around;
}

.fuldiv {
    width: 200px;
    height: 50px;
    margin: auto;
}

.footerbtn {
    height: 34px;
    width: 106px;
    background-color: rgb(83, 106, 60);
    border: none;
    margin-top: 4px;
    font-size: 14.5px;
    font-family: 'Roboto', sans-serif;
    color: rgb(230, 190, 190);
    letter-spacing: 1px;
    border-radius: 1px;
    font-weight: 500;
    transition: 500ms;
}

.footerbtn:hover {
    color: rgb(83, 106, 60);  
    background-color: rgb(206, 152, 152);
}

.footermail {
    max-width: 343px;
    padding:3px 3px 3px 21px;
    border: none;
    border-bottom: solid 1px rgb(83, 106, 60);
    box-sizing: border-box;
    border-radius: 1px;
}

.footerform ::placeholder {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(83, 106, 60);  
}

.footerform {
    justify-content: space-between;
}


/* input focus and textarea focus */

input:focus, textarea:focus
{
border: none!important;
border-bottom: solid 1px rgb(83, 106, 60)!important;
box-shadow: none!important;
}


/* the end */


/* animations with@keyframes */

@keyframes opacity {
    0% {
      opacity: 0
    }
    100% {
      opacity: 100%;
    }
  }


body {
    
        animation: 700ms ease-out 0s 1 opacity!important;
}


@keyframes fadIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(100%);
    }
  }

.bannercardsdiv img {
    animation: 1200ms ease-out 0s 1 fadIn!important;
}

.bannercardsdiv {
    background-color: transparent;
}

@keyframes opacityty {
    0% {
        opacity: 0;
      }
      90% {
        opacity: 0;
      }
    100% {
      opacity: 100%;
    }
  }

.card-bodyfirst {
    animation: 1500ms ease-in 0s 1 opacityty!important;
}
